# Ignorar o ambiente virtual (pasta pesada e local)
venv/
.venv/
env/

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar configurações sensíveis (senhas e chaves)
.env

# Ignorar pastas do VS Code
.vscode/

banco_biometrico.index
mapa_alunos.json
__pycache__/
.pytest_cache/
*.db
*.index
*.sql
# Arquivos do protótipo FAISS (gerados em tempo de execução)
banco_biometrico.index
vector_index.index
nomes_alunos.json
mapa_alunos.json
meu_rosto.npy